[submodule "aquih/limite_credito"]
	path = aquih/limite_credito
	url = git@github.com:aquih/limite_credito.git
	branch = 17.0

[submodule "aquih/l10n_gt_extra"]
	path = aquih/l10n_gt_extra
	url = git@github.com:aquih/l10n_gt_extra.git
	branch = 17.0

[submodule "aquih/pos_gt"]
	path = aquih/pos_gt
	url = git@github.com:aquih/pos_gt.git
	branch = 17.0
