[submodule "rocketgithub/l10n_gt_extra"]
	path = rocketgithub/l10n_gt_extra
	url = git@github.com:rocketgithub/l10n_gt_extra.git
	branch = 17.0

[submodule "rocketgithub/fel_gt"]
	path = rocketgithub/fel_gt
	url = git@github.com:rocketgithub/fel_gt.git
	branch = 17.0

[submodule "rocketgithub/fel_infile"]
	path = rocketgithub/fel_infile
	url = git@github.com:rocketgithub/fel_infile.git
	branch = 17.0

[submodule "rocketgithub/rrhh"]
	path = rocketgithub/rrhh
	url = git@github.com:rocketgithub/rrhh.git
	branch = 17.0

[submodule "aquih/l10n_gt_extra"]
	path = aquih/l10n_gt_extra
	url = git@github.com:aquih/l10n_gt_extra.git
	branch = 17.0

[submodule "aquih/rrhh"]
	path = aquih/rrhh
	url = git@github.com:aquih/rrhh.git
	branch = 17.0

[submodule "aquih/fel_gt"]
	path = aquih/fel_gt
	url = git@github.com:aquih/fel_gt.git
	branch = 17.0

[submodule "aquih/fel_infile"]
	path = aquih/fel_infile
	url = git@github.com:aquih/fel_infile.git
	branch = 17.0

[submodule "aquih/kardex"]
	path = aquih/kardex
	url = git@github.com:aquih/kardex.git
	branch = 17.0

[submodule "aquih/l10n_gt_extra"]
	path = aquih/l10n_gt_extra
	url = git@github.com:aquih/l10n_gt_extra.git
	branch = 17.0

[submodule "aquih/fel_gt"]
	path = aquih/fel_gt
	url = git@github.com:aquih/fel_gt.git
	branch = 17.0

[submodule "aquih/fel_infile"]
	path = aquih/fel_infile
	url = git@github.com:aquih/fel_infile.git
	branch = 17.0

[submodule "aquih/rrhh"]
	path = aquih/rrhh
	url = git@github.com:aquih/rrhh.git
	branch = 17.0

[submodule "aquih/pos_fel"]
	path = aquih/pos_fel
	url = git@github.com:aquih/pos_fel.git
	branch = 17.0

[submodule "aquih/chequerechazado"]
	path = aquih/chequerechazado
	url = git@github.com:aquih/chequerechazado.git
	branch = 17.0

[submodule "aquih/pos_gt"]
	path = aquih/pos_gt
	url = git@github.com:aquih/pos_gt.git
	branch = 17.0

[submodule "aquih/limite_credito"]
	path = aquih/limite_credito
	url = git@github.com:aquih/limite_credito.git
	branch = 17.0

[submodule "aquih/l10n_gt_extra"]
	path = aquih/l10n_gt_extra
	url = git@github.com:aquih/l10n_gt_extra.git
	branch = 17.0

[submodule "DiederichSolis/Facturacion"]
	path = DiederichSolis/Facturacion
	url = git@github.com:DiederichSolis/Facturacion.git
	branch = main
