[submodule "rocketgithub/l10n_gt_extra"]
	path = rocketgithub/l10n_gt_extra
	url = git@github.com:rocketgithub/l10n_gt_extra.git
	branch = 17.0

[submodule "rocketgithub/fel_gt"]
	path = rocketgithub/fel_gt
	url = git@github.com:rocketgithub/fel_gt.git
	branch = 17.0

[submodule "rocketgithub/fel_infile"]
	path = rocketgithub/fel_infile
	url = git@github.com:rocketgithub/fel_infile.git
	branch = 17.0

[submodule "rocketgithub/rrhh"]
	path = rocketgithub/rrhh
	url = git@github.com:rocketgithub/rrhh.git
	branch = 17.0

[submodule "aquih/l10n_gt_extra"]
	path = aquih/l10n_gt_extra
	url = git@github.com:aquih/l10n_gt_extra.git
	branch = 17.0

[submodule "aquih/rrhh"]
	path = aquih/rrhh
	url = git@github.com:aquih/rrhh.git
	branch = 17.0

[submodule "aquih/fel_gt"]
	path = aquih/fel_gt
	url = git@github.com:aquih/fel_gt.git
	branch = 17.0
